body{
    background-color: #a6c2d0;
}

h1{
    color: #032352;
    font-weight: bold;
}

p{
    font-size: 18px;
}
.auth-container{
    min-height: calc(100vh - 70px);
    padding-top: 30px;
}

.btn{
    border-radius: 10px;
}

.otp-input{
    width:55px;
    height:55px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
}