{% extends "base.html" %}
{% block content %}
<body >

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg rounded-4 p-4" style="width: 500px;">

        <h2 class="text-center mb-4">Change password</h2>

        <form method="POST">
            <div class="mb-4">
                <label for="password" class="form-label">New Password</label>

                <div class="input-group">
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Enter your password"
                        required>

                    <span class="input-group-text" onclick="togglePassword()">
                        <i class="bi bi-eye" id="toggleIcon"></i>
                    </span>
                </div>
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Confirm Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="confirm_password"
                    name="confirm_password"
                    placeholder="Confirm Password"
                    required>
            </div>
        </form>
        <a href="/login" class="btn btn-primary w-100 mt-2">Change password</a>

    </div>
</div>

<script>
    function togglePassword() {
        const password = document.getElementById("password");
        const icon = document.getElementById("toggleIcon");

        if (password.type === "password") {
            password.type = "text";
            icon.classList.remove("bi-eye");
            icon.classList.add("bi-eye-slash");
        } else {
            password.type = "password";
            icon.classList.remove("bi-eye-slash");
            icon.classList.add("bi-eye");
        }
    }
</script>

</body>
{% endblock %}