{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h2>My Profile</h2>
    <form method="POST">
        <label>Name</label>
        <input
            type="text"
            name="name"
            class="form-control"
            value="{{ user[1] }}">
        <br>

        <label>Phone</label>
        <input
            type="text"
            name="phone"
            class="form-control"
            value="{{ user[4] }}">
        <br>

        <label>College</label>
        <input
            type="text"
            name="college"
            class="form-control"
            value="{{ user[5] }}">
        <br>

        <label>Branch</label>
        <input
            type="text"
            name="branch"
            class="form-control"
            value="{{ user[6] }}">
        <br>

        <label>Year</label>
        <input
            type="text"
            name="year"
            class="form-control"
            value="{{ user[7] }}">
        <br>

        <label>Bio</label>
        <input
            type="text"
            name="bio"
            class="form-control"
            value="{{ user[9] }}">
        <br>


        <button class="btn btn-success">
            Save Changes
        </button>
    </form>
</div>
{% endblock %}