    {% extends "base.html" %}

    {% block content %}
    <div class="container mt-5">
        <h2>Update Topic</h2>
        <form method="POST">
            <input 
                type="text"
                name="topic" value="{{ topic[1] }}"
                class="form-control mb-3">
            <input
                type="range"
                min="0"
                max="100"
                name="progress"
                value="{{ topic[2] }}"
                class="form-range mb-3">
            <select
                class="form-select mb-3"
                name="category">
                <option>Programming</option>
                <option>Database</option>
                <option>DSA</option>
                <option>AI</option>
                <option>ML</option>
                <option>Mathematics</option>
                <option>General</option>
            </select>
                <p id="progressValue">{{ topic[2] }}%</p>


            <button type="submit" class="btn btn-primary">
                Update
            </button>
        </form>
    </div>
    <script>
        const slider = document.querySelector('input[name="progress"]');
        const progressValue = document.getElementById("progressValue");

        slider.oninput = function () {
            progressValue.innerText = slider.value + "%";
        };
    </script>
    {% endblock %}